AZURE_OPENAI_API_VERSION=2024-06-01-preview
AZURE_OPENAI_API_KEY=your_api_key_here
AZURE_ENDPOINT=your_endpoint_here

DEEPSEEK_R1_API_KEY=your_deepseek_r1_api_key_here
DEEPSEEK_R1_ENDPOINT=your_deepseek_r1_endpoint_here

DEEPSEEK_V3_API_KEY=your_deepseek_v3_api_key_here
DEEPSEEK_V3_ENDPOINT=your_deepseek_v3_endpoint_here

AZURE_LLAMA_ENDPOINT=your_azure_llama_endpoint_here
AZURE_LLAMA_KEY=your_azure_llama_key_here

AZURE_LLAMA_8B_ENDPOINT=your_azure_llama_8b_endpoint_here
AZURE_LLAMA_8B_KEY=your_azure_llama_8b_key_here

AZURE_LLAMA_405B_ENDPOINT=your_azure_llama_405b_endpoint_here
AZURE_LLAMA_405B_KEY=your_azure_llama_405b_key_here

AZURE_MISTRAL_LARGE_2_ENDPOINT=your_azure_mistral_large_2_endpoint_here
AZURE_MISTRAL_LARGE_2_KEY=your_azure_mistral_large_2_key_here

AZURE_MISTRAL_NEMO_ENDPOINT=your_azure_mistral_nemo_endpoint_here
AZURE_MISTRAL_NEMO_KEY=your_azure_mistral_nemo_key_here
