langchain
openai
numpy
pandas
matplotlib
python-dotenv>=0.19.0
langchain-community
langchain-openai
langchain-deepseek
pydantic
fastapi
uvicorn
requests
langsmith
streamlit
plotly
langgraph
nbformat
seaborn
azure-ai-ml
azure-ai-inference
json-repair